{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "rules": {
        "arrow-body-style": 0,
        "arrow-parens": 0,
        "comma-dangle": 0,
        "comma-spacing": 0,
        "indent": 0,
        "no-plusplus": 0,
        "no-useless-escape": 0,
        "object-curly-spacing": 0,
        "object-curly-newline": 0,
        "prefer-const": 0,
        "space-in-parens": 0,
        "linebreak-style": 0,
        "no-underscore-dangle": 0,
        "import/no-named-as-default-member": 0,
        "no-unused-vars": 1,
        "consistent-return": 1,
        "prefer-rest-params": 0
    }
}